<h3>Your current games</h3>
You challenged other people to <%= pluralize(@games_as_challenger.count, 'game') %>.<br>
Other people challenged you to <%= pluralize(@games_as_challenged.count, 'game') %>.<br>

In total, you have <%= pluralize(@total_games.count, 'game') %>.