# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore logfiles, tempfiles, secrets, and coverage.
/log/*
!/log/.keep
/tmp
/config/secrets.yml
/coverage

# Ignore byebug history
/.byebug_history